.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-control input {
  display: block;
  width: 100px;
  border: 1px solid #ccc;
  line-height: 20px;
  font: inherit;
  color: white;
  outline: none;
  padding: 0 0 25px;
}

].form-control input:focus {
  outline: none;
  border-color: blue;
}

.form-control.invalid input {
  background-color: salmon;
  border-color: red;
}
